<h1>Nuevo Héroe <small> {{ heroe.superhero }} </small></h1>

<div fxLayout="row" 
fxLayout.xs="column"
fxLayoutGap="40px">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="20px">
            <mat-form-field fxFlex="50">
                <mat-label>Super Héroe</mat-label>
                <input
                matInput 
                type="text"
                [(ngModel)]="heroe.superhero"
                required
                >
            </mat-form-field>
    
            <mat-form-field fxFlex="50">
                <mat-label>Alter Ego</mat-label>
                <input
                matInput 
                type="text"
                [(ngModel)]="heroe.alter_ego"
                required
                >
            </mat-form-field>
        </div>
        
        <mat-form-field fxFlex="100">
            <mat-label>Primera Aparición</mat-label>
            <input
            matInput 
            type="text"
            [(ngModel)]="heroe.first_appearance"
            required
            >
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input
            matInput 
            type="text"
            [(ngModel)]="heroe.characters"
            required
            >
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select required
            [(ngModel)]="heroe.publisher"
            >
                <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id"
                >
                {{ publisher.desc }}
                </mat-option>
              
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto URL</mat-label>
            <input
            matInput 
            type="url"
            [(ngModel)]="heroe.alt_img"
            required
            >
        </mat-form-field>
        <mat-divider></mat-divider>

        <button 
        mat-raised-button
        (click)="guardar()"
        color="primary"
        >
            <mat-icon>save</mat-icon>
            Guardar
        </button>

    </div>

    <div fxFlex="50" fxLayout="column">
        <img [src]="heroe | imagen">
    </div>


</div>